*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../steampunk-train-by-ben-wootten.jpg");
    background-size: cover;
}

.container{
    width: 100%;
}

.title{
    text-transform:uppercase;
    margin: 20px 0 30px;
    color: ;
    font-size: 35px;
    text-align: center;
}

.detail-container{
    border: 1px solid black;
    width: 90%;
    margin: 0 auto;
    height: 250px;
    border-radius: 20px;
    background-color: #fff;
    margin-bottom: 40px;
    text-align: center;
}

.input-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px auto;
}

input{
    border-radius: 5px;
    border-color: black;
    text-align: center;
    font-size: 18px;
    height: 35px;   
}

input:nth-of-type(2){
    margin: 0 20px;
}

.button-container{
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 10%;
    margin: 0 10px;
    font-weight: 700;
    font-size: 20px;
    padding: 5px;
}

.text h4{
    margin-bottom: 10px;
}

.ticket-container{
    border: 1px solid black;
    width: 90%;
    margin: 20px auto 0;
    height: 250px;
    background-color: #fff;
    display: none;
}

.title2{
    text-transform:uppercase;
    color: white;
    font-size: 35px;
    text-align: center;
}

.active{
    display: block;
}

.ticket-print{
    display: flex;
    width: 90%;
    margin: 0 auto;
    border: 1px solid black;
    border-left: none;
    border-right: none; 
}

.summary {
    margin-left: 5%;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
}

.container-name{
    width: 30%;
    background-color: #808080;
    text-align: center;
    padding: 5px;
    
}

.container-name h2{
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
}

.summary-details{
    display: flex;
    width: 100%;
}

.col-2{
    width: 20%;
    margin-left: 10px;
}

.col-2 h4,
.col-1 h4{
    margin: 20px 0 30px;
    font-size: 20px;
}

.col-1{
    width: 15%;
    margin: 0 30px 0 0;
}


.summary-details span{
    font-size: 20px;
    display: inline-block;
    margin-bottom: 10px;
}

#traveler-name{
    font-size: 25px;
    margin-top: 10px;  
}

#total-price::after{
    content: "\20AC";
}

#sconto::after{
    content: "\20AC";
}

#price::after{
    content: "\20AC";
}